@layer base {

    body {
        --_background-color: var(--theme-bg-color, var(--color-black-100));
        background-color: var(--_background-color);
        @apply transition-[background] duration-1000 ease-in-out;

        /* Grille de base (très sombre) */
        background-image:
                linear-gradient(to right, oklch(0.985 0 89.876 / 0.02) 1px, transparent 1px),
                linear-gradient(to bottom, oklch(0.985 0 89.876 / 0.02) 1px, transparent 1px);
        background-size: 40px 40px;
        background-attachment: fixed;
        position: relative;

        @apply text-white font-inter;
    }

    body::after {
        content: "";
        position: fixed;
        inset: 0;
        z-index: 0;
        pointer-events: none;
        background-image:
                linear-gradient(to right, oklch(0.705 0.169 153.567 / 0.15) 1px, transparent 1px),
                linear-gradient(to bottom, oklch(0.705 0.169 153.567 / 0.15) 1px, transparent 1px);
        background-size: 40px 40px;
        background-attachment: fixed;
        /* On masque cette grille lumineuse partout sauf autour de la souris */
        mask-image: radial-gradient(
                circle 400px at var(--mouse-x, 50%) var(--mouse-y, 50%),
                black 0%,
                transparent 100%
        );
        -webkit-mask-image: radial-gradient(
                circle 400px at var(--mouse-x, 50%) var(--mouse-y, 50%),
                black 0%,
                transparent 100%
        );
    }

    body::before {
        content: "";
        position: fixed;
        top: 0; left: 0; width: 100%; height: 100%;
        background: radial-gradient(circle at 50% 50%, oklch(0.705 0.169 153.567 / 0.05) 0%, transparent 70%);
        pointer-events: none;
        z-index: -1;
    }

    /*path {
        fill: currentColor;
    }*/
    p + ul,
    ul + p,
    p + p {
        @apply mt-2
    }

    address {
        @apply not-italic;
    }

    b, strong {
        @apply font-semibold;
    }

    [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
        outline: none;
    }

    textarea {
        @apply resize-none;
    }

    ::selection {
        @apply bg-(--color-accent) text-(--color-black-100);
    }

    /* Allow color transition */
    @property --theme-fluid-color {
        syntax: '<color>';
        initial-value: transparent;
        inherits: true;
    }
}