.icon {
    @apply bg-current inline-block;
}

.icon-arrow-right {
    mask: url('/svg/icons/arrow-right.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-arrow-up-right-from-square {
    mask: url('/svg/icons/arrow-up-right-from-square.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-arrow-right-small {
    mask: url('/svg/icons/arrow-right-small.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-arrow-left {
    mask: url('/svg/icons/arrow-left.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-open-external {
    mask: url('/svg/icons/open-external.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-arrow-bottom-gintlemen {
    mask: url('/svg/icons/arrow-bottom-gintlemen.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-cross {
    mask: url('/svg/icons/cross.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-star {
    mask: url('/svg/icons/star.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-magnify {
    mask: url('/svg/icons/magnify.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-sort {
    mask: url('/svg/icons/sort.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-copy-empty {
    mask: url('/svg/icons/copy-empty.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-copy-full {
    mask: url('/svg/icons/copy-full.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}