.icon {
    @apply bg-current inline-block;
}

.icon-copy {
    mask: url('/svg/icons/copy.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-arrow-right {
    mask: url('/svg/icons/arrow-right.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}

.icon-nuxt {
    mask: url('/svg/technos/nuxt.svg');
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;

    width: 1em;
    height: 1em;
}