/*
.error-message {
    @apply text-left text-red-300 text-sm block mt-2;
}

.default-input {
    --_background: var(--background, transparent);

    --_background-disabled: var(--background-disabled, var(--color-grey-100));
    --_color-disabled: var(--color-disabled, var(--color-grey-300));

    --_ring-color: transparent;
    --_ring-focus: var(--ring-focus, var(--color-white));
    --_ring-hover: var(--ring-hover, var(--color-white));

    --_color: var(--color, white);
    --_icon-color: var(--icon-color, var(--color-red-300));

    &:not([class*=input--]) {
        @apply py-3 px-6 text-sm;
    }

    &.input--size-default {
        @apply py-2 px-4 text-sm;
    }

    @apply text-(--_color) ring-(--_ring-color) bg-(--_background);

    @apply hover:ring-(--_ring-hover);
    @apply disabled:bg-(--_background-disabled);
    @apply placeholder:text-(--_color);

    @apply ring-1 border outline-none disabled:hover:ring-0 disabled:cursor-not-allowed hover:ring-2 active:ring-2 focus:ring-2;

    !*&:active {*!
    !*    --tw-ring-color: var(--_ring-color);*!
    !*    border-color: var(--_ring-color);*!
    !*    @apply ring-1;*!
    !*}*!

    !*&:focus {*!
    !*    --tw-ring-color: var(--_ring-color);*!
    !*    border-color: var(--_ring-color);*!
    !*    @apply ring-1;*!
    !*}*!

    &.input-error {
        --ring-color: var(--color-red-300);
    }

    & + i {
        --_icon-color: var(--icon-color, var(--color-grey-100));
        color: var(--_icon-color);
    }
}

.input--white-transparent {
    --border-color: white;
    --background: transparent;
    --color: white;
    --ring-color: white;
    --color-disabled: white;
    --ring-focus: white;
    --ring-hover:white;

    &::placeholder {
        opacity: .9;
    }

    &.input-error {
        --border-color: white;
        --ring-color: white;
        --color: white;
    }

    & + i {
        color: white;
    }
}

.input--white {
    --background: var(--color-white);
    --color: var(--color-red-300);
    --ring-color: var(--color-red-300);
    --ring-focus: var(--color-red-300);
    --ring-hover: var(--color-red-300);

    --border-color: var(--color-red-300);
    --color-disabled: var(--color-red-300);
}

input[type="checkbox"].checkbox {
    --_background-checked: var(--background-checked, var(--theme-fluid-color));
    --_color: var(--color, var(--color-black-100));
    --_border-color: var(--border-color, var(--color-white));

    @apply border-(--_border-color) text-(--_color);
    @apply relative appearance-none border rounded-full size-5 transition duration-300 ease-in-out outline-none cursor-pointer bg-transparent;

    &:focus {
        content: "";
        box-shadow: none;
    }

    &:checked {
        background-image: none;
        background-color: var(--_background-checked);
        border-color: var(--_background-checked);
    }

    &:checked:after {
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        position: absolute;
        mask: url('/svg/icons/check.svg');
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        width: 35%;
        height: 25%;

        @apply bg-(--_color);
    }

    &.checkbox--grey,
    &.radiobutton--grey {
        --_background-checked: var(--color-grey-100);
        --_color: var(--color-white);
        --_border-color: var(--color-grey-100);
    }
}

!* toggle style *!
input[type="checkbox"].checkbox.toggle {
    !* Dimensions *!
    --_toggle-width: var(--toggle-width, 38px);
    --_toggle-height: var(--toggle-height, 24px);
    --_toggle-radius: var(--toggle-radius, calc(var(--_toggle-height) / 2));

    --_toggle-gap: var(--toggle-gap, 2px);

    --_toggle-knob-size: calc(var(--_toggle-height) - (var(--_toggle-gap) * 2));
    --_toggle-shift: max(0px, calc(var(--_toggle-width) - var(--_toggle-height)));

    !* Colors *!
    --_toggle-bg-off: var(--toggle-bg-off, var(--theme-fluid-color));
    --_toggle-bg-on: var(--toggle-bg-on, var(--theme-fluid-color));
    --_toggle-knob-bg: var(--toggle-knob-bg, var(--color-white));
    --_toggle-focus-shadow: var(--toggle-focus-shadow, 0 0 0 0 rgba(0,0,0,0));

    !* Timing *!
    --_toggle-transition: var(--toggle-transition, 400ms);

    @apply appearance-none border-0 outline-none cursor-pointer;

    width: var(--_toggle-width);
    height: var(--_toggle-height);
    background: transparent;

    !* Background *!
    &:before {
        content: '';
        position: absolute;
        inset: 0;
        display: block;
        background: var(--_toggle-bg-off);
        border-radius: var(--_toggle-radius);
        transition: background var(--_toggle-transition) ease, opacity var(--_toggle-transition) ease;
    }

    &:not(:checked)::before {
        opacity: .2;
    }

    !* Knob *!
    &:after {
        content: '';
        position: absolute;
        left: var(--_toggle-gap);
        top: var(--_toggle-gap);
        width: var(--_toggle-knob-size);
        height: var(--_toggle-knob-size);
        background: var(--_toggle-knob-bg);
        transition: transform var(--_toggle-transition) ease;
        -webkit-mask: none;
        mask: none;

        @apply rounded-full;
    }

    !* Checked state *!
    &:checked:before {
        background: var(--_toggle-bg-on);
    }
    &:checked:after {
        transform: translateX(var(--_toggle-shift));
    }
}

.radio-chip {
    --_background-checked: var(--background-checked, var(--color-red-300));
    --_background-unchecked: var(--color-white);
    --_color: var(--color, var(--color-grey-300));

    --_hover-background-color: var(--hover-background-color, var(--color-red-300));
    --_hover-color: var(--hover-color, var(--color-white));

    @apply bg-(--_background-unchecked) text-(--_color) hover:bg-(--_hover-background-color) hover:text-(--_hover-color);

    @apply inline-flex items-center justify-center px-6 py-3 text-sm transition duration-200 ease-in-out cursor-pointer ;

    &.radio-chip--checked {
        --color: var(--color-white);

        @apply bg-(--_background-checked) text-(--color);
    }
}

input[type="radio"].radiobutton {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


.select--default {
    --_border-color: transparent;
    --_background-color: var(--background-color, var(--color-grey-100));
    --_color: var(--color, var(--color-grey-100));
    --_tw-ring-color: var(--ring-color, var(--color-black));

    @apply text-sm ring-0 border-0 outline-none py-3 px-6 mt-2 disabled:bg-grey-100 disabled:border-grey-100;

    color: var(--_color);
    background-color: var(--_background-color);
    border-color: var(--_border-color);

    &::placeholder {
        color: var(--_color);
        opacity: .5;
        --tw-ring-color: var(--_border-color);
    }

    &:active {
        --tw-ring-color: var(--_border-color);
    }

    &:focus {
        --tw-ring-color: var(--_border-color);
        border-color: var(--_border-color);
    }

    &:hover {
        --tw-ring-color: var(--_border-color);
        border-color: var(--_border-color);
        @apply ring-1;
    }
}

input.default-input , textarea.default-input, .select--default {
    @apply border;
}

.input-select__wrapper {
    position: relative;

    &:after {
        content: "";
        top: 50%;
        right: 16px;
        transform: translateY(-35%);
        background-color: currentColor;

        position: absolute;
        mask: url('/svg/icons/arrow-bottom-gintlemen.svg');
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        width: 1em;
        height: 1em;


        pointer-events: none;

    }
}
.input-select-default {
    @apply w-full
}

input.default-input,
textarea.default-input {
    @apply border;
}

textarea.default-input {
    @apply h-32;
}

.input-select {
    --_background: var(--background, transparent);

    --_background-disabled: var(--background-disabled, var(--color-grey-100));
    --_color-disabled: var(--color-disabled, var(--color-grey-100));

    --_ring-color: transparent;
    --_ring-focus: var(--ring-focus, var(--color-white));
    --_ring-hover: var(--ring-hover, var(--color-white));

    --_color: var(--color, var(--color-white));

    --_color-active: var(--color-active, var(--color-white));
    --_background-active: var(--background-active, var(--theme-fluid-color));

    --_color-hover: var(--color-hover, var(--color-white));
    --_background-hover: var(--background-hover, var(--theme-fluid-color));

    --_color-ul: var(--color-ul, var(--color-grey-300));
    --_ring-ul: transparent;
    --_background-ul: var(--background-ul, var(--color-white));
    --_border-li: var(--border-li, var(--color-grey-300));

    &:after {
        content: "";
        background-color: var(--theme-fluid-color);

        mask: url('/svg/icons/arrow-bottom-gintlemen.svg');
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        width: 1em;
        height: 1em;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;

        font-size: .6em;

    }

    button {
        @apply border text-(--_color) ring-(--_ring-color) bg-(--_background) hover:ring-(--_ring-hover) disabled:bg-(--_background-disabled);

        @apply cursor-pointer ring-1 py-3 px-6 text-sm flex items-center text-left gap-3 w-full disabled:hover:ring-0 disabled:cursor-not-allowed hover:ring-2;
    }

    ul {
        @apply bg-(--_background-ul) text-(--_color-ul) ring-1 ring-(--_ring-ul) overflow-clip;
    }

    li {
        @apply py-3 px-6 border-b-(--_border-li) hover:text-(--_color-hover) hover:bg-(--_background-hover);

        &.disabled {
            @apply text-(--_color-disabled) bg-(--_background-disabled);
            @apply cursor-not-allowed;
        }

        &.active {
            @apply text-(--_color-active) bg-(--_background-active);
        }
    }

    &.input-select--focus {
        button {
            @apply ring-(--_ring-focus);
            @apply ring-1;
        }
    }

    &.input--size-default {
        button {
            @apply py-2 px-4 text-sm;
        }

        ul {
            @apply text-sm;
        }
    }
}
*/
