@import "tailwindcss";

@import "./base/default.css";

@import "./components/button.css";
@import "./components/heading.css";
@import "./components/icon.css";
@import "./components/layout.css";
@import "./components/toast.css";
@import "./components/link.css";

@theme {
    /*Colors*/
    --color-*: initial;
    --color-inherit: inherit;
    --color-transparent: transparent;
    --current: currentColor;

    --color-white: oklch(1 0 89.876);

    --color-black-100: oklch(0.156 0.005 196.658);
    --color-black: oklch(0 0 0);

    --color-white-100: oklch(0.985 0 89.876);
    --color-grey-100: oklch(0.707 0.003 165.043);
    --color-accent: oklch(0.705 0.169 153.567);
    --color-accent-hover: oklch(0.65 0.15 153.567);

    --color-grey-300: oklch(0.39 0 89.876);
    --color-grey-500: oklch(0.256 0 89.876);

    --spotlight-color: oklch(0.705 0.169 153.567 / 0.12);

    /*font-family*/
    --font-space-grotesk: 'Space Grotesk', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-jetbrains-mono: 'JetBrains Mono', monospace;
}